* {
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Courier, monospace;
	box-sizing: border-box;
}

.titulo {
	color: black;
	font-size: 13.7px;
	margin: 0 0 0 10px;
	padding: 5px 0;
}

.tituloCuerpo {
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
}

.textoCuerpo {
	font-size: 16px;
	text-align: justify;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	padding: 0 20px;
}



.divMultipleColumn {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.divMultipleRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.divFlex {
	display: flex;
}

.percent {
	width: 100%;
	height: 100%;
}

.noDecoration {
	text-decoration: none;
}

.backgroundColor {
	background-color: #ccdcdf;
}

.textColor {
	color: #707070;
}

.maxContent {
	min-width: max-content;
}

.centrarVertical {
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.centrarHorizontal {
	margin: 0 auto;
}

.centradoHorizontal {
	display: flex;
	align-items: center;
}

.centradoAbsoluto {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
}

.scroller {
	overflow-y: auto;
	scrollbar-color: #c2d2e4 #ccdcdf;
	scrollbar-width: thin;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.overflow::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */

.overflow {
	-ms-overflow-style: none;
}

.overflow {
	overflow: auto;
}

.overflowHidden {
	overflow: hidden;
}

.visible {
	border: 1px solid hsl(60, 100%, 50%);
}

.oculto {
	overflow: hidden;
	visibility: hidden;
	width: 0px;
	height: 0px;
}

#error {
	width: 70%;
	text-align: center;
    background-color: #FF9185;
    font-size: 15px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

#correcto {
    width: 70%;
	text-align: center;
    background-color: #a2ff85;
    font-size: 15px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

.tarjeta h3 {
	margin-bottom: 0px;
	padding: 0px;
}

.divDoble {
	/* margin-top: 15px; */
}