* {
    margin: 0;
    padding: 0;
}

li {
    background-color: #CCDCDF;
    color: #707070;
    max-width: 1033px;
    min-height: 137px;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px auto 100px;
    border-radius: 7px;
    list-style: none;
}

#tarjeta {
    width: 100%;
    height: 100%;
    max-width: 1031px;
    min-height: 132px;
    max-height: 132px;
    position: relative;
    /* overflow: hidden; */
    /* border: 1px solid #9da59f; */
}

#cuerpoTarjeta {
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* max-height: 96px; */
    overflow: visible;
    /* border: 1px solid red; */
}

#titulo {
    color: black;
    font-size: 13.7px;
    margin: 0 0 0 10px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    padding: 0 0 3px;
}

p {
    font-size: 16px;
}

#descripcion {
    max-width: 595px;
    /* border: 1px solid #d9ff00; */
}

p {
    word-wrap: break-word;
    text-align: justify;
}

#divDoble {
    border: 1px solid red;
    display: flex;
}

#autor {
    max-width: 200px;
    /* border: 1px solid #00fff2; */
}

#entorno {
    max-width: 170px;
    /* border: 1px solid #7700ff; */
}

#contacto {
    max-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ff00ea; */
}

#contacto img {
    max-width: 50px;
    max-height: 50px;
}

#contacto a {
    text-decoration: none;
}

#descripcion, #autor, #entorno, #contacto {
    width: 100%;
    height: 100%;
    padding: 0 5px 5px 0;
}

.overflowT {
    max-height: 106px;
}

.overflowP {
    max-height: 85px;
}

.overflowP1 {
    max-height: 65px;
}

.overflowP, .overflowP1 {
    overflow: auto;
    border: 1px solid rebeccapurple;
}

.overflow::-webkit-scrollbar {
    width: 10px;
    display: none;
}

.cajaTexto {
    border: 1px inset #CCDCDF;

}