.containerBody {
	max-width: 1200px;
}

.container, .left {
	min-height: 550px;
	max-height: 550px;
}

.center, .right {
	min-height: 400px;
	max-height: 400px;
}

#publicar {
	display: block;
}

.adjuntar {
	margin-top: 20px;
	min-height: 100px;
	padding: 20px;
}

.btnPublicar {
	width: 60%;
    background-color: #D13238;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-stretch: extra-expanded;
}

.left {
	max-width: 30.3%;
}

.center, .right {
	max-width: 50%;
}

.containerLR {
	max-width: 60.6%
}

.containerBody input[type="text"], input[type="number"],  select, textarea {
	font-size: 1em;
	padding: 10px;
	width: 90%;
	color: #555555;
}

.containerBody input[type="checkbox"] {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
}

#categoriaX {
	min-width: 150px;
	min-height: 38px;
}

.categoria, .nombreProyecto, .lenguaje, .entorno, .entrega {
	min-height: 85px;
}

.estado {
	min-height: 200px;
	max-height: 200px;
}

.descripcion {
	min-height: 280px;
	max-height: fit-content;
	max-width: fit-content;
}

#breveDesc {
	max-height: 300px;
}

#descripcion {
	resize: none;
}

.api {
	min-height: 150px;
}

.estado, .api {
	max-height: 130px;
	color: black;
}

.tituloCuerpo2, .tituloCuerpo {
	font-family: "Lucida Console", Courier, monospace;
    font-size: medium;
	margin: 15px 0px;
	color: black;
	margin-bottom: 5px;
}

.center .publica {
	justify-content: flex-end;
	align-items: center;
}

.sCondiciones {
	text-align: center;
	align-items: center;
	display: block;
}