* {
	margin:0px;
    padding:0px;
    font-family: "Lucida Console", Courier, monospace;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #F0F0F0;
}

footer {
    background-color: #D13238;
    width: 100%;
    color: white;
    /* align-self: flex-end; */
}

#info, #derechos, #social { min-height: 140px; }
#containerAll { max-width: 1920px; }

#derechos {
    max-width: 50%;
    font-size: 10px;
}

#info, #social {
    width: max-content;
}

#derechos img { max-width: 240px; }
#social img { max-width: 45px; }

#info, #social {
    padding-top: 20px;
    box-sizing: border-box;
}

#info {
    align-self: flex-end;
}

@media screen and (max-width: 820px) {
    #containerBody {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #info { order: 2; }
    #derechos { order: 1;}
    #social { order: 3; }
    #info, #social, #derechos { min-height: max-content; }

    #social, #derechos, #info {
        max-width: 100%;
        width: 100%;
    }
}