.altura {
    min-height: 129px;
    max-height: 129px;
}

.tituloCuerpo {
    padding: 0 0 3px;
}

.textoCuerpo {
    margin-right: 15px;
}

.titulo {
    max-height: 35px;
}

.autorT {
    margin: 0;
    padding: 0;
}

.contacto h3 {
    font-size: 16px;
}

li {
    max-width: 1050px;
    padding: 5px 7px 5px 5px;
    margin: 10px auto 20px auto;
    border-radius: 7px;
    list-style: none;
}

.tarjeta {
    padding: 5px;
    border: 1px solid #9da59f;
}

.descripcion {
    max-width: 610px;
    width: 50%;
}

.divDoble {
    max-width: 320px;
    width: 30%;
    margin-right: 5%;
}

.contacto {
    width: 15%;
    text-align: center;
}

.autor {
    display: flex;
    max-height: 38px;
}

#textAutor {
    width: auto;
}

.contacto img {
    display: block;
    max-width: 25px;
}

.autor, .entorno, .cuerpoTarjeta {
    width: 100%;
}


.contacto button {
	border: none;
	background-color: transparent;
	margin-top: none;
	padding: 10px 2px;
    width: 100%;
}

.contacto button:hover {
	background-color: #313131;
	color: white;
}

.divT {
    margin-top: 10px;
}

@media screen and (max-width: 1169px) {
    .cuerpoTarjeta {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .descripcion, .divDoble, .contacto {
        display: flex;
        min-height: 50px;
        max-height: 50px;
        max-width: 100%;
    }
    .descripcion {
        width: 50%;
    }
    .divDoble {
        width: 35%;
    }
    .contacto {
        width: 15%;
    }
}