#contentAllHead {
    background-color: #313131;
}

#contentHead {
    max-width: 2000px;
    justify-content: space-between;
}

#logoHead img {
    max-width: 380px;
}

#linksHead {
    max-width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linksHead .btnHead {
    /* max-width: 100px; */
    margin: 15px;
    text-decoration: none;
    font-weight: 950;
    font-size: 1em;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #313131;
    border: none;
    padding: 10px 0;
}

#linksHead .btnHead:hover {
    background-color: #5C5C5C;
}

@media screen and (max-width: 705px) {
    #contentHead {
        display: flex;
        align-items: center;
        height: 98px;  /*No tocar esta linea, es muy frágil :3*/
    }

    #logoHead img {
        max-width: 100%;
    }

    #linksHead {
        min-width: 50%;
    }

    #linksHead .btnHead {
        margin-top: 10px;
    }
}