* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contenedor {
	max-width: 2000px;
}

.contenedor {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 65px auto;
	grid-template-rows: 0px 1fr;
	grid-template-areas: "header header"
						 "menu contenido";
						 /* "footer footer"; */
	transition: all .3s ease;
}

.contenedor.active {
	grid-template-columns: 220px auto;
}

.tituloMain {
	color: #000000;
	display: block;
	text-align: center;
	margin-top: 27px;
	margin-bottom: 27px;
}

#boton-menu {
	background: none;
}

.header {
	grid-area: header;
	background: #313131;
}

.menu-lateral {
	grid-area: menu;
	background: #313131;
}

.main {
	grid-area: contenido;
	background-color: #ffffff;
}

.footer {
	grid-area: footer;
}

#footer, #header {
	width: 100%;
}