#contenidoPrincipal {
    float: left;
}

#titulo {
    padding: 20px;
}

#tarjeta {
    width: 85%;
    height: 150px;
    background-color: #CCDCDF;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px;
}

#contacto {
    position: relative;
}

#contacto img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    float: left;
}

#contacto h3 {
    float: left;
    padding: 10px;
}