body {
    text-align: center;
}

#login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: none;
}

#form-title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 30px 0px;
}

#form-title {
    padding: 10px 0px;
}

a {
    margin-top: 20px;
    color: black;
    font-family: "Lucida Console", Courier, monospace;
    font-size: x-small;
}

button {
    width: 70%;
    background-color: #D13238;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-stretch: extra-expanded;
}

input {
    width: 70%;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 700;
    font-stretch: ultra-expanded;
    font-size: 10pt;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: "Lucida Console", Courier, monospace;
    font-stretch: condensed;
    font-weight: 600;
    font-size: 15pt;
}

#error {
    width: 60%;
    background-color: #FF9185;
    font-size: 15px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}