*{
    margin:0px;
    padding:0px;
    color: black;
}

.menu-lateral {
    background: #2f3030;
}

#menu {
    /* float: left; */
    /* position: fixed; */
    /* width: 65px; */
    height: 100%;
    background-color: #2f3030;
    overflow: hidden;
    -webkit-transition: width 0.5s cubic-bezier(.61, .01, .37, 1);
    -moz-transition: width 0.5s cubic-bezier(.61, .01, .37, 1);
}

#menu:hover {
    width: 220px;
}

#boton-menu {
    border: none;
}

#boton-menu:hover {
    background-color: #5C5C5C;
    border: none;
}

#menu-icon {
    width: 45px;
    height: 38px;
    margin: 10px;
}

.menu-lateral a {
    float: left;
    text-decoration: none;
    margin-top: 1%;
    margin-left: 65px;
    margin-bottom: 10PX;
    padding: 20px;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
}

.menu-lateral a:hover {
    background-color: #5C5C5C;
}
