body {
    text-align: center;
}

.form-container {
    display: table-row;
    flex-direction: column-reverse;
}

.form-container label {
    color: black;
}

.form-title h1 {
    font-family: "Lucida Console", Courier, monospace;
    font-size: x-large;
    margin: 15px 0px;
}

.signup-form {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.form-title {
    padding: 10px 0px;
}

.form-first {
    display: table-cell;
    width: 50%;
}

.form-second {
    display: table-cell;
    width: 50%;
}

.form-first input, .form-second input {
    width: 70%;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 700;
    font-stretch: ultra-expanded;
    font-size: 10pt;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #707070;
}

.textareac {
    width: 70%;
    height: 140px;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 700;
    font-stretch: ultra-expanded;
    font-size: 10pt;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #707070;
}

.form-second input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.form-second input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form-first label, .form-second label {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-family: "Lucida Console", Courier, monospace;
    font-stretch: condensed;
    font-weight: 600;
    font-size: 15pt;
}

.check {
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.check input {
    padding: 5px;
    margin-top: 10px;
}

.buttons-row .form-confirm button {
    width: 35%;
    background-color: #D13238;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-stretch: extra-expanded;
}

.buttons-row {
    display: flex;
}

.form-confirm {
    width: 100%;
}

.data-container {
    display: flex;
    flex-direction: row;
}

#error {
    width: 70%;
    background-color: #FF9185;
    font-size: 15px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}