* {
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Courier, monospace;
}

.altura {
	min-height: 456px;
	max-height: 456px;
}

.tarjeta {
	padding: 5px;
	border: 1px solid #9da59f;
}

.cuerpoBase, .contenedorVistaTarjeta {
	margin: auto;
	width: 100%;
	height: fit-content;
}

.cuerpoBase {
	max-width: 1111px;
	padding: 5px 7px 7px 5px;
	margin: 10px auto 20px auto;
	border-radius: 7px;
}

.contenedorVistaTarjeta {
	border-radius: 7px;
	border: 1px solid #9da59f;
}

.contacto img {
	display: block;
	max-width: 50px;
}

.contenedorDocumento {
	min-height: 70%;
	padding: 20px 30px 20px 30px;
	box-sizing: border-box;
}

.Documentos { background-color: #fff; }

.des {
	box-sizing: content-box;
}

.titulo {
    max-height: 45px;
}

.cuerpoBase h3 {
	margin-bottom: 2px;
	padding: 0px;
	margin-top: 5px;
}

.cuerpoVIzquierda {
	margin-left: 15px;
	max-width: 40%;
}

.cuerpoVCentral {
	max-width: 25%;
}

.cuerpoVDerecha {
	max-width: 30%;
}

.cuerpoVDerecha, .cuerpoVCentral, .cuerpoVIzquierda {
	width: 100%;
}

.Documentos img {
	max-width: 100%;
	display: block;
}